# Server
SERVER_PORT=8082

# PostgreSQL
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_EXCHANGE=sales.exchange
RABBITMQ_ROUTING_KEY=sales.hq

# BO metadata
BO_ID=BO2
SYNC_INTERVAL_MS=10000
