# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# RabbitMQ
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

# Adminer
ADMINER_PORT=

# RabbitMQ messaging
RABBITMQ_EXCHANGE=sales.exchange
RABBITMQ_ROUTING_KEY=sales.hq
RABBITMQ_QUEUE=sales.hq

# Sync interval (ms)
SYNC_INTERVAL_MS=10000