# Server
SERVER_PORT=8080

# PostgreSQL
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_EXCHANGE=sales.exchange
RABBITMQ_ROUTING_KEY=sales.hq
RABBITMQ_QUEUE=sales.hq
